$vue-modal-warning: #ffa75f !default;
$vue-modal-error: #EF6455 !default;
$vue-modal-success: #598c54 !default;

body.modal--active {
	overflow: hidden;
}

.modal-container {
	position: fixed;
	z-index: 1090;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(#404040, .8);
	z-index: 0;
	opacity: 0;
	display: none;
	transition: opacity 300ms ease;

	&.active {
		opacity: 1;
	}
}


.modal-parent {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	overflow: auto;
}

.modal {
	background-color: #fff;
	border-radius: 0 0 4px 4px;
	transition: opacity 300ms ease, transform 300ms ease;
	display: block;
	box-shadow: 0 1px 10px 4px rgba(#000, 0.2);
	width: 400px;
	margin: 0 auto 40px auto;
	opacity: 1;
	position: relative;
	transform: translateY(-110%);

	&.modal--active {
		transform: translateY(0%);
	}
}

.modal__header {
	padding: 20px 20px 0 20px;
	font-size: 1.2rem;
	font-weight: 500;
}

.modal__body {
	padding: 10px 20px 20px 20px;
}

.modal__footer {
	padding: 0 20px 20px 20px;
	text-align: right;
	cursor: default;

	.btn {
		margin-left: 10px;
	}
}

.modal--lg {
	width: 700px;
}

.modal--warning {
	border-top: solid 8px $vue-modal-warning;

	.modal__header {
		color: $vue-modal-warning;
	}
}

.modal--error {
	border-top: solid 8px $vue-modal-error;

	.modal__header {
		color: $vue-modal-error;
	}
}

.modal--success {
	border-top: solid 8px $vue-modal-success;

	.modal__header {
		color: $vue-modal-success;
	}
}


.overlay-wrapper {
	user-select: none;
}

.overlay {
	position: fixed;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 1px 10px 4px rgba(#000, 0.2);
	left: 0;
	top: 0;
}

.overlay__movable {
	position: relative;
	height: 20px;
	cursor: move;

	div {
		position: relative;
		height: 0;
		padding-top: 10px;
		margin: 0 auto 10px auto;
		width: 14px;
		border-bottom: solid 1px #d3d3d3;

		&::before, &::after {
			border-bottom: solid 1px #d3d3d3;
			content: '';
			position: absolute;
			left: 0;
			right: 0;
		}

		&::before {
			top: 7px;
		}

		&::after {
			top: 13px;
		}
	}

}

.overlay {
	display: flex;
	flex-direction: column;
	cursor: default;
	resize: both;
	overflow: auto;
	z-index: 999;
}

.overlay__header {
	padding: 0 14px 10px 14px;
	font-size: 1.1rem;
	font-weight: 500;
	border-bottom: solid 1px #d3d3d3;
}

.overlay__body {
	padding: 14px;
	overflow: auto;
	flex-grow: 1;
	user-select: auto;
}

.overlay__footer {
	padding: 10px;
	text-align: right;
	border-top: solid 1px #d3d3d3;

	.btn {
		margin-left: 10px;
	}
}

