$vue-modal-warning: #ffa75f !default;
$vue-modal-error: #EF6455 !default;
$vue-modal-success: #598c54 !default;

body.modal--active {
	overflow: hidden;
}

.modal-container {
	position: fixed;
	z-index: 1090;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(#404040, .3);
	z-index: 0;
	opacity: 0;
	transition: opacity 300ms ease;
}

.modal-backdrop--active {
	opacity: 1;
}

.modal-parent {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	overflow: auto;
}

.modal-t-active,
.modal-t-enter-active,
.modal-t-enter-to,
.modal-t-leave,
.modal-t-leave-active,
.modal-t-leave-to {
	transition: opacity 300ms ease;
}

.modal-t-enter .modal {
	transform: translateY(-110%);
	opacity: 1;
}

.modal-t-enter-to .modal {
	transform: translateY(0%);
	opacity: 1;
}

.modal-t-leave-to .modal {
	transform: translateY(-110%);
}

.backdrop-t-active {
	display: block;
}

.backdrop-t-enter {
	opacity: 0;
}

.backdrop-t-enter-to {
	opacity: 1;
}

.backdrop-t-leave-to {
	opacity: 0;
}

.modal {
	background-color: #fff;
	border-radius: 0 0 4px 4px;
	display: block;
	box-shadow: 0 1px 10px 4px rgba(#000, 0.2);
	width: 400px;
	margin: 0 auto 40px auto;
	opacity: 1;
	position: relative;
	transition: opacity 300ms ease, transform 300ms ease;
}

.modal__header {
	padding: 20px 20px 0 20px;
	font-size: 1.2rem;
	font-weight: 500;
}

.modal__body {
	padding: 10px 20px 20px 20px;
}

.modal__footer {
	padding: 0 20px 20px 20px;
	text-align: right;
	cursor: default;

	.btn {
		margin-left: 7px;
	}
}

.modal--lg {
	width: 700px;
}

.modal--warning {
	border-top: solid 8px $vue-modal-warning;

	.modal__header {
		color: $vue-modal-warning;
	}
}

.modal--error {
	border-top: solid 8px $vue-modal-error;

	.modal__header {
		color: $vue-modal-error;
	}
}

.modal--success {
	border-top: solid 8px $vue-modal-success;

	.modal__header {
		color: $vue-modal-success;
	}
}